@model S00127670_CA2.Models.Movie

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-success">
    <div class="panel-heading" style="font-size:20px">Add Movie</div>

        <div class="panel-body">
        Enter Movie Details Below
    </div>
        
        <div class="row" style="padding:20px">
            <div class="form-group col-xs-6">
                @Html.LabelFor(model => model.movieTitle)
                @Html.TextBoxFor(model => model.movieTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.movieTitle)
            </div>
            <div class="form-group col-xs-6">
                @Html.LabelFor(model => model.movieGenre)
                @Html.DropDownListFor(model => model.movieGenre, Enum.GetNames(typeof(S00127670_CA2.Models.MovieGenre)).Select(g => new SelectListItem{Text = g}), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.movieGenre)
            </div>
        </div>

        <div class="panel-footer">
            <a class="btn btn-primary"href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"></span>&nbsp;Movie List</a>
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
        </div>
            </div>

        

    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            toastr.success('Add Movie');
        });
    </script>
}
